# RabbitMQ Configuration
RABBITMQ_DEFAULT_USER="Your_Default_Rabbit_User"
RABBITMQ_DEFAULT_PASS="Your_Default_Rabbit_Pass"
RABBITMQ_USER="Your_Rabbit_User"
RABBITMQ_PASS="Your_Rabbit_Pass"

# PostgreSQL Configuration
POSTGRES_USER="Your_Postgres_User"
POSTGRES_PASSWORD="Your_Postgres_Pass"
POSTGRES_DB="Your_Postgres_DB"

# Twitch Authentication
BOT_ID="Your_Bot_Account's_ID"
OWNER_ID="Your_Account's_ID"
CLIENT_ID="Your_Client_ID"
CLIENT_SECRET="Your_Client_Secret"
OAUTH_KEY="Your_OAUTH_Key"
OAUTH_REFRESH_KEY="Your_OAUTH_Refresh_Key"
BROADCASTER="Your_Username"

# Goose Migrations
export GOOSE_DBSTRING=${POSTGRES_CON_STRING}
export GOOSE_MIGRATION_DIR=./sql/schema
export GOOSE_DRIVER=postgres

# OBS Configuration
OBS_IP="Your_OBS_IP"
OBS_PORT="Your_OBS_Port (it usually defaults to 4455)"
OBS_PASSWORD="Your_OBS_Password"
OBS_BROWSER_SOURCE_NAME="OBS_Browser_Source_Name_For_The_Song_Player"
OBS_TEXT_SOURCE_NAME="OBS_Text_Source_Name_For_The_Song_Player's_Attribution_String"
OBS_SCENE_NAME="Your_OBS_Scene_Name"

# Network Configuration
DESKTOP_IP="IP_Address_for_the_machine_running_the_bot"
TZ="Your_Timezone"
